.top-page{

    display: flex;
    
    align-items: center;
    
    margin-left: 50px;
    
    

}



.top{

    padding-right: 80px;

}

.head{

    margin-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titre{

    font-weight: 800;
}

.books-titre{
    font-weight: 600;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 70px;
}

.livechat-title{
    font-weight:600;
}
.seeMore{
    width: 150px;
    height: 45px;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    background-color: #3498DB ;
    
}


.footer{
    margin-top: 300px;
}

